 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}
body {
	background-color: white;
	font-family: 'Lato', sans-serif;
}
#logo {
	height: 15vh;
	margin-left: 45vw;
	margin-bottom: 2vh;
}
#bb-image {
	width: 100vw;
}
#su-button {
	width: 25vw;
	margin-top: 15vh;
	margin-left: 37vw;
}
#su-button:hover {
	opacity: .8;
}
#su-copy {
	margin-left: 43vw;
	color: #5D5D5D;
	font-weight: bolder;
}
.works {
	margin-top: 5vh;
	border-top: 1px solid #cccccc;
	margin-left: 6vw;
	display: inline-block;
	font-weight: lighter;
}
#cconvo {
	color: #5D5D5D;
	font-size: 3vh;
	text-align: center;
	margin-top: 5vh;
	display: inherit;
}
#topview {
	width: 28vw;
	margin-top: 3vh;
}
#ffinter {
	color: #5D5D5D;
	font-size: 3vh;
	text-align: center;
	margin-top: 3vh;
	display: inherit;
	margin-left: 2vw;
}
#couple {
	width: 28vw;
	margin-top: 3vh;	
}
#own_time {
	color: #5D5D5D;
	font-size: 3vh;
	text-align: center;
	margin-top: 3vh;
	display: inherit;
	margin-left: 2vw;
}
#mobile {
	width: 28vw;
	margin-top: 3vh;
}
.features {
	margin-top: 5vh;
}
#f_heading {
	text-align: center;
	font-size: 5vh;
	display: inherit;
	font-weight: lighter;
}
#geo-copy {
	text-align: center;
	display: inherit;
	margin-top: 5vh;
	font-weight: bold;
}
#mobile_app {
	width: 95vw;
	margin-top: 10vh;
	margin-left: 3vw;
}
.footer {
	margin-top: 8vh;
}
#follow-copy {
	text-align: center;
	display: inherit;
	font-size: 2vw;
	font-weight: lighter;
}
.social {
	margin-left: 40vw;
	display: inline-block;
	margin-top: 3vh;
}
#twitter {
	display: inherit;
}
#facebook {
	display: inherit;
}
#mail {
	display: inherit;
}
#instagram {
	display: inherit;
}
#tw-icon {
	width: 5vw;
}
#tw-icon:hover {
	opacity: .7;
}
#fb-icon {
	width: 5vw;
}
#fb-icon:hover {
	opacity: .7;
}
#m-icon {
	width: 5vw;
}
#m-icon:hover {
	opacity: .7;
}
#ig-icon {
	width: 5vw;
}
#ig-icon:hover {
	opacity: .7;
}
.f_copy {
	margin-top: 15vh;
}
#rights-r {
	display: inherit;
	border-top: 1px solid #cccccc;
	text-align: center;
	font-size: 2vh;
	font-weight: lighter;
	color: #5D5D5D;
	padding-top: 5vh;
	margin-bottom: 3vh;
}
@media only screen and (max-width: 420px) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
	#logo {
		height: 15vh;
		margin-left: 38vw;
		margin-bottom: 2vh;
	}
	#bb-image {
		width: 200vw;
		margin-left: -50vw;
	}
	#su-button {
		width: 65vw;
		margin-left: 18vw;
	}
	#su-copy {
		margin-left: 30vw;
		color: #5D5D5D;
		font-weight: bolder;
	}
	.works {
		margin-top: 5vh;
		border-top: 1px solid #cccccc;
		font-weight: lighter;
		margin-left: 0;
	}
	#cconvo {
		color: #5D5D5D;
		font-size: 5vh;
		text-align: center;
		margin-top: 5vh;
		display: inherit;
		margin-left: 2vw;
	}
	#topview {
		width: 95vw;
		margin-top: 3vh;
	}
	#ffinter {
		color: #5D5D5D;
		font-size: 5vh;
		text-align: center;
		margin-top: 3vh;
		display: inherit;
		margin-left: 2vw;
	}
	#couple {
		width: 95vw;
		margin-top: 3vh;	
	}
	#own_time {
		color: #5D5D5D;
		font-size: 5vh;
		text-align: center;
		margin-top: 3vh;
		display: inherit;
		margin-left: 2vw;
	}
	#mobile {
		width: 95vw;
		margin-top: 3vh;
	}
	#f_heading {
		font-size: 8vh;
		font-weight: lighter;
	}
	#geo-copy {
		font-size: 2vh;
		font-weight: bold;
	}
	#follow-copy {
		font-size: 5vh;
	}
	#tw-icon {
		width: 10vh;
	}
	#fb-icon {
		width: 10vh;
	}
	#m-icon {
		width: 10vh;
	}
	#ig-icon {
		width: 10vh;
	}
	.social {
		margin-left: 13vw;
		display: inline-block;
		margin-top: 3vh;
	}
}